In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Load the data
data = pd.read_csv(r'C:\Users\itsoh\Downloads\TE\TE\monthly_encoded_full_data.csv')

C:\Users\itsoh\AppData\Local\Temp\ipykernel_32920\2658535008.py:6: DtypeWarning: Columns (24,63) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'C:\Users\itsoh\Downloads\TE\TE\monthly_encoded_full_data.csv')

In [4]:
data.head()

,Date Created,Date Modified,Status,DCT Ind,SFDC Interest Tag ID,ZZ -Activity Rating,ZZ - Activity Created Date,Eloqua Synch Date,SFDC Campaign ID,SFDC Campaign Member ID,...,Assigned to Sales Rep Date,Inquiry Status,Owner: Full Name,Key Customer Cde,Lead: Full Name,Contact: Full Name,Person?s Region,Person?s Country,Monthly_Encoded_Email,Month
0,2024-04-11 09:01:30,2024-04-11 10:30:44,Registered,0.0,NaN,NaN,NaN,NaN,701E0000000j3dK,00vE000000V6yvy,...,2024-12-10 11:55:00,Sales Rejected,Michael Troman,XP7,NaN,John Onnen,North America,United States,206,apr-24
1,2024-04-20 09:01:32,2024-04-20 09:01:32,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2024-12-10 11:55:00,Sales Rejected,Michael Troman,XP7,NaN,John Onnen,North America,United States,206,apr-24
2,2024-04-18 21:01:38,2024-04-18 21:01:38,Registered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2024-12-10 11:55:00,Sales Rejected,Michael Troman,XP7,NaN,John Onnen,North America,United States,206,apr-24
3,2024-03-31 09:01:32,2024-03-31 10:36:05,Registered,0.0,NaN,NaN,NaN,NaN,701E0000000j3dK,00vE000000V6yvy,...,2024-12-10 11:55:00,Sales Rejected,Michael Troman,XP7,NaN,John Onnen,North America,United States,206,apr-24
4,2024-03-31 09:01:37,2024-03-31 10:34:35,Registered,0.0,NaN,NaN,NaN,NaN,701E0000000j3d3,00vE000000V6ynv,...,2024-12-10 11:55:00,Sales Rejected,Michael Troman,XP7,NaN,John Onnen,North America,United States,206,apr-24

In [6]:
data["Inquiry Status"].value_counts()

Inquiry Status
Sales Rejected     149394
Sales Qualified      3385
Name: count, dtype: int64